<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB SA - APlist</title>

  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <% include ../../sidemenu/Navbar %>

  <div id="wrapper">

    <!-- Sidebar -->
    <% include ../../sidemenu/Sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">
        <!-- DataTables APList -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> AP List</div>
          <div class="card-body">
            <div class="table-responsive">
              <form id="searchForm">
                <div class="form-group">
                  <select id="dateType" name="dateType" class="custom-select custom-select-sm form-control form-control-sm" style="width:100px">
                    <option value="dti_wdate">작성일자</option>
                    <option value="dti_Idate">발행일자</option>
                    <option value="dti_Sdate">전송일자</option>
                  </select>

                  <label class="font-weight-bold">조회기간
                    <input type="date" id="fromDate" name="fromDate" class="form-control form-control-sm" style="width:145px">
                  </label> ~
                  <label class="font-weight-bold">
                    <input type="date" id="endDate" name="endDate" class="form-control form-control-sm" style="width:145px">
                  </label>
                  <label class="font-weight-bold text-center">사업자번호
                    <input type="text" id="regno" name="regno"class="form-control form-control-sm" style="width:125px">
                  </label>
                  <label class="font-weight-bold text-center">회사명
                    <input type="text" id="comName" name="comName"class="form-control form-control-sm" style="width:140px">
                  </label>
                  <label class="font-weight-bold text-center">공급가액
                    <input type="text" id="supAmount" name="supAmount"class="form-control form-control-sm" style="width:120px">
                  </label>
                  <label class="font-weight-bold text-center">세액
                    <input type="text" id="taxAmount" name="taxAmount"class="form-control form-control-sm" style="width:110px">
                  </label>
                  <label class="font-weight-bold text-center">승인번호
                    <input type="text" id="issueID" name="issueID"class="form-control form-control-sm" style="width:200px">
                  </label>
                </div>
                <div class="form-group">
                  <span class="badge badge-secondary">&nbsp;&nbsp;종류&nbsp;&nbsp;</span>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiType" checked="checked">
                    <label class="custom-control-label" for="dtiType">All</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiType1" name="dtiType" value="과세">
                    <label class="custom-control-label" for="dtiType1">세금계산서</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiType2" name="dtiType" value="면세">
                    <label class="custom-control-label" for="dtiType2">계산서</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiType3" name="dtiType" value="수정">
                    <label class="custom-control-label" for="dtiType3">수정</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiType4" name="dtiType" value="위수탁">
                    <label class="custom-control-label" for="dtiType4">위수탁</label>
                  </div>
                  <span class="badge badge-secondary">영수 / 청구</span>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="taxDemand" checked="checked">
                    <label class="custom-control-label" for="taxDemand">All</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="taxDemand1" name="taxDemand" value="01">
                    <label class="custom-control-label" for="taxDemand1">영수</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="taxDemand2" name="taxDemand" value="02">
                    <label class="custom-control-label" for="taxDemand2">청구</label>
                  </div>
                  <span class="badge badge-secondary">&nbsp;&nbsp;정 / 역&nbsp;&nbsp;</span>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="direction" checked="checked">
                    <label class="custom-control-label" for="direction">All</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="direction1" name="direction" value="1">
                    <label class="custom-control-label" for="direction1">역발행</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="direction2" name="direction" value="2">
                    <label class="custom-control-label" for="direction2">정발행</label>
                  </div>
                </div>
                <div class="form-group">
                  <span class="badge badge-secondary">&nbsp;&nbsp;상태&nbsp;&nbsp;</span>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus" checked="checked">
                    <label class="custom-control-label" for="dtiStatus">All</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus1" name="dtiStatus" value="S">
                    <label class="custom-control-label" for="dtiStatus1">저장</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus2" name="dtiStatus" value="I">
                    <label class="custom-control-label" for="dtiStatus2">발행</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus3" name="dtiStatus" value="C">
                    <label class="custom-control-label" for="dtiStatus3">승인</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus4" name="dtiStatus" value="R">
                    <label class="custom-control-label" for="dtiStatus4">수신거부</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus5" name="dtiStatus" value="O">
                    <label class="custom-control-label" for="dtiStatus5">발행취소</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus6" name="dtiStatus" value="V">
                    <label class="custom-control-label" for="dtiStatus6">역발행요청</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="dtiStatus7" name="dtiStatus" value="W">
                    <label class="custom-control-label" for="dtiStatus7">역발행요청취소</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="dtiStatus8" name="dtiStatus" value="T">
                      <label class="custom-control-label" for="dtiStatus7">역발행요청거부</label>
                    </div>
                  <div class="d-inline float-right">
                    <button type="button" id="SBData"  class="btn btn-outline-primary">SBData</button>
                    <button type="button" id="exelDown" class="btn btn-outline-success">ExelDown</button>
                    <button type="button" id="listSearch" onclick="search('AP')" class="btn btn-outline-primary-sm">Search</button>
                  </div>
                </div>
                <input type="hidden" id="sbType" name="sbType" value="AP">
              </form>
              <table id="t1" class="display select" cellspacing="0" width="100%"></table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © SETASETA Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- SBData Modal-->
  <div class="modal" id="SBModal">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SB APList</h4>
          <button type="button" id="SBClose" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive">
            <div class="form-group">
              <label>From Date
              <input type="date" id="SBfrom" name="SBfrom" class="form-control form-control-sm" >
            </label>
              <label>End Date
              <input type="date" id="SBend" name="SBend" class="form-control form-control-sm" >
            </label>
              <button type="button" id="SBSearch" onclick="sbSearch('AP')" class="btn btn-outline-primary-sm">Search</button>
              <button type="button" id="upload" onclick="upload('AP')" class="btn btn-outline-success">Upload</button>
            </div>
            <table class="display select" id="t2" cellspacing="0" width="100%"></table>
          </div>
        </div>
      </div>
  </div>

  <!-- View Modal-->
  <div class="modal" id="viewModal">
    <div class="modal-content">
        <span id="viewClose" class="close">&times;</span>
        <div id="viewContent">
          <table id="viewForm"></table>
        </div>
        
        <input type="hidden" id="conversationID">
        <input type="hidden" id="supbuyType">
        <input type="hidden" id="supRegno">
        <input type="hidden" id="byrRegno">

        <div class="d-flex flex-wrap align-content-start bg-light" style="width:71%">
          <div class="p-2" style="width:30%" id="supEmpName">공급자</div>
          <div class="p-2" style="width:40%" id="supEmail">이메일</div>
          <div class="p-2" style="width:30%" id="supTelNum">연락처</div>
        </div>
        <div class="d-flex flex-wrap align-content-start bg-light" style="width:71%">
          <div class="p-2" style="width:30%" id="byrEmpName">공급받는자</div>
          <div class="p-2" style="width:40%" id="byrEmail">이메일</div>
          <div class="p-2" style="width:30%" id="byrTelNum">연락처</div>
        </div>
        <div class="d-flex flex-wrap align-content-start bg-light" style="width:71%" id="brk">
          <div class="p-2" style="width:30%" id="brkEmpName">수탁자</div>
          <div class="p-2" style="width:40%" id="brkEmail">이메일</div>
          <div class="p-2" style="width:30%" id="brkTelNum">연락처</div>
        </div>
        <div class="d-flex flex-wrap align-content-start bg-light" style="width:71%">
          <div class="p-2" style="width:30%" id="status">세금계산서 상태</div>
          <div class="p-2" style="width:30%" id="sendRequest">국세청 전송 결과</div>
          <div class="p-2" style="width:40%" id="sendRequestDESC">사유</div>
        </div>

        <div class="modal-footer">
          <button type="button" id="RARREQUEST" class="btn btn-outline-primary">역발행요청</button>
          <button type="button" id="ARISSUE" class="btn btn-outline-primary">발행</button>
          <button type="button" id="RARISSUE" class="btn btn-outline-primary">역발행</button>
          <button type="button" id="APPROVE" class="btn btn-outline-primary">승인</button>
          <button type="button" id="REJECT" class="btn btn-outline-primary">거부</button>
          <button type="button" id="CANCELREQUEST" class="btn btn-outline-primary">역발행요청취소</button>
          <button type="button" id="RIREJECT" class="btn btn-outline-primary">역발행요청거부</button>
          <button type="button" id="CANCELALL" class="btn btn-outline-primary">발행취소</button>
          <button type="button" id="SENDMAIL" class="btn btn-outline-primary">이메일재전송</button>
          <button type="button" id="SENDHOMETAX" class="btn btn-outline-primary">국세청즉시전송</button>
          <button type="button" id="TAXSTATUS" class="btn btn-outline-primary">전송상태갱신</button>
          <button type="button" id="AMEND" class="btn btn-outline-info">수정발행</button>
          <button type="button" id="COPY" class="btn btn-outline-info">복사작성</button>
          <button type="button" id="EDIT" class="btn btn-outline-warning">수정</button>
          <button type="button" id="DEL" class="btn btn-outline-danger">삭제</button>
          <button type="button" id="resultMail" class="btn btn-outline-secondary">메일수신확인</button>
          <button type="button" id="dtiHistory" class="btn btn-outline-secondary">문서HISTORY</button>
          <button type="button" id="print" class="btn btn-outline-success">출력</button>
        </div>
    </div>
  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sb-admin.min.js"></script>
  <script src="/js/fnDtiList.js"></script>
  <script src="/js/fnData.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

  <script type="text/javascript" class="init">
    $(document).ready(function() {
      $("input[name=dtiType]").prop("checked", true);
      $("input[name=dtiStatus]").prop("checked", true);
      $("input[name=taxDemand]").prop("checked", true);
      $("input[name=direction]").prop("checked", true);
      $('#myModal').on('hidden.bs.modal', function() {
        $('#myModal').removeData('bs.modal');
      });
      $('#fromDate').val(fromDate());
      $('#endDate').val(nowDate());
      $('#SBfrom').val(fromDate());
      $('#SBend').val(nowDate());
      initView();
      search('AP');
    });

  </script>
</body>

</html>
