<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB SA - APlist</title>

  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/index">SAPI</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>DTI</span>
          </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Form</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">SendForm: Tax invoice</h6>
          <a class="dropdown-item" href="/">세금계산서</a>
          <a class="dropdown-item" href="/">면세</a>
          <a class="dropdown-item" href="/">수정</a>
          <a class="dropdown-item" href="/">위수탁</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">RequestForm: Tax invoice</h6>
          <a class="dropdown-item" href="/">세금계산서</a>
          <a class="dropdown-item" href="/">면세</a>
          <a class="dropdown-item" href="/">수정</a>
          <a class="dropdown-item" href="/">위수탁</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-table"></i>
            <span>List</span>
          </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">List: Tax invoice</h6>
          <a class="dropdown-item" href="/">매출 관리</a>
          <a class="dropdown-item" href="/dti/list/APlist">매입 관리</a>
          <a class="dropdown-item" href="/">위수탁 관리</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
      </li>

    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> AP List</div>
          <div class="card-body">
            <div class="table-responsive">
              <form id="seachForm">
              <div class="form-group">
                <select id="dateType" name="dateType" class="custom-select custom-select-sm form-control form-control-sm" style="width:100px">
                    <option value="dti_wdate">WDATE</option>
                    <option value="dti_Idate">IDATE</option>
                    <option value="dti_Sdate">SDATE</option>
                </select>

                <label>From Date
                  <input type="date" id="fromDate" name="fromDate" class="form-control form-control-sm" style="width:145px">
                </label>
                <label>End Date
                  <input type="date" id="endDate" name="endDate" class="form-control form-control-sm" style="width:145px">
                </label>

                <label>B / N
                  <input type="text" id="regno" name="regno"class="form-control form-control-sm" style="width:125px">
                </label>
                <label>Com Name
                  <input type="text" id="comName" name="comName"class="form-control form-control-sm" style="width:140px">
                </label>
                <label>Sup Amount
                  <input type="text" id="supAmount" name="supAmount"class="form-control form-control-sm" style="width:120px">
                </label>
                <label>Tax Amount
                  <input type="text" id="taxAmount" name="taxAmount"class="form-control form-control-sm" style="width:110px">
                </label>
                <label>Issue ID
                  <input type="text" id="issueId" name="issueId"class="form-control form-control-sm" style="width:200px">
                </label>
              </div>
              <div class="form-group">
                <span class="badge badge-secondary">TYPE&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiType" name="dtiType" value="General">
                  <label class="custom-control-label" for="dtiType">All</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiType1" name="dtiType" value="General">
                  <label class="custom-control-label" for="dtiType1">세금계산서</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiType2" name="dtiType" value="free">
                  <label class="custom-control-label" for="dtiType2">계산서</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiType3" name="dtiType" value="Amend">
                  <label class="custom-control-label" for="dtiType3">수정</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiType4" name="dtiType" value="Consignment">
                  <label class="custom-control-label" for="dtiType4">위수탁</label>
                </div>
              </div>
              <div class="form-group">
                <span class="badge badge-secondary">STATUS</span>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus" name="dtiStatus" value="all">
                  <label class="custom-control-label" for="dtiStatus">All</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus1" name="dtiStatus" value="S">
                  <label class="custom-control-label" for="dtiStatus1">저장</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus2" name="dtiStatus" value="I">
                  <label class="custom-control-label" for="dtiStatus2">발행</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus3" name="dtiStatus" value="C">
                  <label class="custom-control-label" for="dtiStatus3">승인</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus4" name="dtiStatus" value="R">
                  <label class="custom-control-label" for="dtiStatus4">거부</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus5" name="dtiStatus" value="O">
                  <label class="custom-control-label" for="dtiStatus5">발행취소</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus6" name="dtiStatus" value="V">
                  <label class="custom-control-label" for="dtiStatus6">발행요청</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="dtiStatus7" name="dtiStatus" value="W">
                  <label class="custom-control-label" for="dtiStatus7">발행요청취소</label>
                </div>
                <button type="button" id="SBData" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">SBData</button>
                <button type="button" id="exelDown" class="btn btn-outline-success">ExelDown</button>
                <button type="button" id="listSearch" class="btn btn-outline-primary-sm">Search</button>
              </div>
              </form>
              <table id="t1" class="display select" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th><input name="select_all" value="1" type="checkbox"></th>
                    <th data-field="sup_com_regno">B / N</th>
                    <th data-field="sup_com_name">COMPANY<br>NAME</th>
                    <th data-field="dti_wdate">WRITE<br>DATE</th>
                    <th data-field="dti_idate">ISSUE<br>DATE</th>
                    <th data-field="dti_sdate">SEND<br>DATE</th>
                    <th data-field="dti_status">STATUS</th>
                    <th data-field="sup_amount">SUPPLY<br>AMOUNT</th>
                    <th data-field="tax_amount">TAX<br>AMOUNT</th>
                    <th data-field="total_amount">TOTAL<br>AMOUNT</th>
                    <th data-field="issue_id">ISSUE ID</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td></td>
                    <td>741-85-29630</td>
                    <td>rice one</td>
                    <td>2018-08-01</td>
                    <td>2018-08-01</td>
                    <td>2018-08-01</td>
                    <td>APPROVE</td>
                    <td>4,000,000</td>
                    <td>400,000</td>
                    <td>4,400,000</td>
                    <td>2018082541000008ff</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>741-85-29630</td>
                    <td>rice one</td>
                    <td>2018-08-02</td>
                    <td>2018-08-02</td>
                    <td>2018-08-02</td>
                    <td>APPROVE</td>
                    <td>4,000</td>
                    <td>400</td>
                    <td>4,400</td>
                    <td>2018082541000008f2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SB List</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive">
            <div class="form-group">
              <label>From Date
              <input type="date" id="SBfrom" name="SBfrom" class="form-control form-control-sm" >
            </label>
              <label>End Date
              <input type="date" id="SBend" name="SBend" class="form-control form-control-sm" >
            </label>
              <button type="button" id="SBSearch" class="btn btn-outline-primary-sm">Search</button>
              <button type="button" id="upload" class="btn btn-outline-success">Upload</button>
            </div>
            <table class="display select" id="t2" cellspacing="0" width="100%"></table>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sb-admin.min.js"></script>
  <script src="/js/function.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

  <script type="text/javascript" class="init">
    $(document).ready(function() {
      var rows_selected = [];
      var table = $('#t1').DataTable({
        columnDefs: [{
          'targets': 0,
          'searchable': false,
          'orderable': false,
          'width': '1%',
          'className': 'dt-body-center',
          'render': function(data, type, full, meta) {
            return '<input type="checkbox">';
          }
        }],
        'rowCallback': function(row, data, dataIndex) {
          // Get row ID
          var rowId = data[0];
          // If row ID is in the list of selected row IDs
          if ($.inArray(rowId, rows_selected) !== -1) {
            $(row).find('input[type="checkbox"]').prop('checked', true);
            $(row).addClass('selected');
          }
        },
        select: {
          style: 'os',
          selector: 'td:first-child'
        },
        order: [
          [1, 'asc']
        ],
        searching: false,
      });
      $('#myModal').on('hidden.bs.modal', function() {
        $('#myModal').removeData('bs.modal');
      });
      $('#t1 tbody').on('click', 'input[type="checkbox"]', function(e) {
        var $row = $(this).closest('tr');
        // Get row data
        var data = table.row($row).data();
        // Get row ID
        var rowId = data[0];
        // Determine whether row ID is in the list of selected row IDs
        var index = $.inArray(rowId, rows_selected);
        // If checkbox is checked and row ID is not in list of selected row IDs
        if (this.checked && index === -1) {
          rows_selected.push(rowId);
          // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
        } else if (!this.checked && index !== -1) {
          rows_selected.splice(index, 1);
        }
        if (this.checked) {
          $row.addClass('selected');
        } else {
          $row.removeClass('selected');
        }
        // Update state of "Select all" control
        updateDataTableSelectAllCtrl(table);
        // Prevent click event from propagating to parent
        e.stopPropagation();
      });
      // Handle click on table cells with checkboxes
      $('#t1').on('click', 'tbody td, thead th:first-child', function(e) {
        $(this).parent().find('input[type="checkbox"]').trigger('click');
      });
      // Handle click on "Select all" control
      $('thead input[name="select_all"]', table.table().container()).on('click', function(e) {
        if (this.checked) {
          $('#t1 tbody input[type="checkbox"]:not(:checked)').trigger('click');
        } else {
          $('#t1 tbody input[type="checkbox"]:checked').trigger('click');
        }
        // Prevent click event from propagating to parent
        e.stopPropagation();
      });
      // Handle table draw event
      table.on('draw', function() {
        // Update state of "Select all" control
        updateDataTableSelectAllCtrl(table);
      });
      // Handle form submission event
      $('#listForm').on('submit', function(e) {
        var form = this;
        // Iterate over all selected checkboxes
        $.each(rows_selected, function(index, rowId) {
          // Create a hidden element
          $(form).append(
            $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'id[]')
            .val(rowId)
          );
        });
      });

      $('#fromDate').val(fromDate());
      $('#endDate').val(nowDate());
      $('#SBfrom').val(fromDate());
      $('#SBend').val(nowDate());
      search('/dti/list/APlist');
    });

    $('#listSearch').click(function() {
      var request = JSON.stringify($('#searchForm').SERIALIZABLE());
      $.support.cors = true;
      $.ajax({
        type: "POST",
        dataType: "json",
        crossDomain: true,
        contentType: "application/json",
        url: "APlist",
        data: request,
        success: function(data) {
          alert("success~");
        },
        error: function(error) {
          alert("error");
        }
      });
    });

    $('#SBSearch').click(function() {
      var fromDate = $("#SBfrom").val();
      var endDate = $("#SBend").val();
      var supbuyType = "AP";
      var request = JSON.stringify({
        'MessageId': '3887cab1-3ea6-4776-b988-7d27d6951489',
        'Signal': 'ARAP_REPO',
        'RequestTime': nowDate(),
        'SendComRegno': '7418529630',
        'AuthToken': 'QURiYWV1RTZpTkhDcU1lQW5hUGUraUxQaUZGZ0hDclBFOVFCVjZOSFA2TT0K',
        'ServiceCode': 'DTI',
        'SearchFromDate': fromDate,
        'SearchToDate': endDate,
        'SearchComRegno': '',
        'RepoTypeCode': supbuyType
      });
      $.support.cors = true;
      $.ajax({
        type: "POST",
        dataType: "json",
        crossDomain: true,
        contentType: "application/json",
        url: "http://demoapi.smartbill.co.kr/sb-api/request/",
        data: request,
        success: function(data) {
          SBGetList(data, supbuyType);
        },
        error: function(error) {
          alert(error.message);
        }
      });
    });
    $('#upload').click(function() {
      var dataset = {};
      var arrConvId = new Array();
      var arrDirection = new Array();
      var arrStatus = new Array();
      var supbuyType = 'AP';
      dataset = $('#t2').DataTable().rows('.selected').data();
      for (var i = 0; i < dataset.length; i++) {
        arrConvId[i] = dataset[i].conversationID;
        arrDirection[i] = dataset[i].direction;
        arrStatus[i] = dataset[i].status;
      }
      var request = JSON.stringify({
        'MessageId': '3887cab1-3ea6-4776-b988-7d2719890403',
        'Signal': 'VIEW_XML',
        'RequestTime': nowDate(),
        'SendComRegno': '7418529630',
        'AuthToken': 'QURiYWV1RTZpTkhDcU1lQW5hUGUraUxQaUZGZ0hDclBFOVFCVjZOSFA2TT0K',
        'ServiceCode': 'DTI',
        'ConversationId': arrConvId
      });
      $.support.cors = true;
      $.ajax({
        type: "POST",
        dataType: "json",
        crossDomain: true,
        contentType: "application/json",
        url: "http://demoapi.smartbill.co.kr/sb-api/request/",
        data: request,
        success: function(data) {
          fnGetXML(data, arrDirection, arrStatus, supbuyType);
        },
        error: function(error) {
          alert("error");
        }
      });
    });
  </script>
</body>

</html>
